{% extends 'base.html' %}
{% load static %}

{% block title %}
    Welcome Home!
{% endblock %}

{% block content %}

    <h1> Welcome tyo Homepage!! </h1>

    <h4> Food Menu: </h4>    

    {% for item in food %} 
        <ul>             
            {% include 'body_snippet.html' with value=item %}
        </ul>
    {% endfor %}

    <hr>

    <img src = "{% static 'img/torus_scaled.jpg' %}" alt='torus picture' > <br>
    <img src = "{% static 'img/simple materials.png' %}" ><br>
    
    <svg width="100" height="100">
        <circle cx="50" cy="50" r="40" stroke="green" stroke-width="4" fill="yellow" />
        Sorry, your browser does not support inline SVG.
    </svg>

    <br>

    <a href = "{% url 'about' %}"> About </a>

{% endblock %}